$base-light: #23becb;
$base-dark: #0f555c;
$secondary-light: #1a8e99;
$secondary-dark: #062528;

@mixin box-shadow($value){
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

body{
	background-color: black;
	color: white;
	font-family: "Segoe UI", sans-serif;
	background-image: linear-gradient(to right, $base-light, $base-dark);
	margin: 0;
}

/*Page Title*/
h1{
	font-weight: 300;
	font-size: 75px;
	margin: 5px;
}
h3{
	font-weight: normal;
}

.oldcontent{
	overflow: hidden;
	width: 100%;
	display: block;
	position: absolute;
	transition: opacity .3s ease;
	z-index: 10;
	min-height: 100%;
	background-image: linear-gradient(to right, $base-light , $base-dark)
}
.oldcontent.anim{
	/*max-height: 0 !important;*/
	opacity: 0;
}

/*Section header*/
.section_header{
	font-size: 55px;
	font-weight: 400;
	margin: 0;
	display: flex;
	vertical-align: bottom;
	justify-content: space-between;
}

.section_header_spacer{
	display: none;
}

.section_showmore{
	font-size: 30px;
	font-weight: 400;
	float: right;
	cursor:pointer;
	align-self: flex-end;
}

/*Header text at top of page*/
#header{
	margin: 5px;
	margin-bottom: 10px;
}

.links{
	font-size: 20px;
	font-weight: 400;
}
.links a{
	color: white;
}

.description_text{
	font-size: 25px;
	font-weight: 400;
}

#outer {
	margin: 0;
	width: auto;
	text-align: center;
}

#wrapper {
	margin: 0 auto;
	width: auto;
}

.box_outer{
	/*background-color: rgba(0, 0, 0, 0.5);*/
	background-image: linear-gradient(to right, $secondary-light , $secondary-dark);
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 0 10px 0 $secondary-dark;
	position: relative;
	z-index: 5;
}

.box_content{
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 20.75px;
	text-align: left;
	opacity: 1;
}
.box_content a:link, .box_content a:visited, .box_content a:hover, .box_content a:active{
	color: white;
}

.box_empty{
	background-image: linear-gradient(to right, $base-light, $base-dark);
	height: 100px;
	position: relative;
	z-index: 4;
}

.showcase{
	position: relative;
	margin: 1vw;
	background-color: rgba(0,0,0,.5);
	width: 24vw;
	height: 12vw;
}

.shadow {
    position: absolute;
    left: 0px;
    right: 0px;
    -moz-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, .25);
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, .25);
		box-shadow: 0 0 10px 1px $secondary-dark;
		z-index: 2;
		transition: .2s ease;
    pointer-events: none;
		height: 100%;
		bottom: 0;
}

.showcase:hover .shadow{
	-moz-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 1);
	-webkit-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 1);
	box-shadow: 0 0 20px 5px $secondary-dark;
}

.showcase img{
	position: absolute;
	width: 100%;
	height: auto;
	transition: .5s ease;
}
.showcase:hover img{
	width: 110%;
	height: auto;
}

.img_container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: .2s ease;
}

.showcase_text{
	position: absolute;
	top: 0; /*3.5vw*/
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2.5vw;
	transition: .2s ease;
	z-index: 10;
	background-color: inherit;
}
.showcase:hover .showcase_text{
	background-color: rgba(0,0,0,.75);
	opacity: 1;
}

.showcase_heading{
	text-align: center;
	opacity: 1;
	background-color: $secondary-dark;
	overflow: hidden;
	transition: .2s ease;
	min-height: 2.5vw;
	max-height: 5vw;
	font-size: 1.5vw;
	margin: 0;
	padding-top: 0.5vw;
}
.showcase:hover .showcase_heading{
	min-height: 0vw;
	max-height: 0vw;
	padding-top: 0vw;
}

.showcase_desc{
	font-size: 1vw;
	padding: 10px;
	opacity: 0;
}
.showcase:hover .showcase_desc{
	opacity: 1;
}

.showcase_row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*Nav*/
#nav_outer{
	background-image: linear-gradient(to right, $secondary-light , $secondary-dark);
	display: flex;
	justify-content: center;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	bottom: 0;
	z-index: 50;
	box-shadow: 0 -5px 10px -5px $secondary-dark;
	transition: box-shadow .1s ease;
}
#nav_outer.pinned{
	box-shadow: 0 0 10px 0 $secondary-dark;
}

.nav_button{
	font-size: 25px;
	padding: 10px;
	transition: background-color .2s ease;
	min-width: 128px;
	cursor: pointer;
	color: white;
	text-decoration: none;
}
.nav_button:hover{
	background-color: rgba(0, 0, 0, 0.5);
}

#nav_open{
	display: none;
	pointer-events: none;
}

.footer_content{
	display: flex;
}

.footer_column{
	min-width: 150px;
}
.footer_column p{
	margin: 10px;
	font-size: 20px;
}


/*For preventing email spambots*/
/*.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}*/

/*IE11 support*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.showcase img{
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.IEhidden{
		display: none;
		pointer-events: none;
	}
}

/*Mobile support*/
@media only screen and (orientation: portrait) {
	.showcase{
		display: table;
		max-width: 100vw;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.showcase_row{
		display: block;
		width: 100%;
	}
	.showcase_text{
		z-index: 2;
	}

	.showcase_heading{
		font-size: 5vw;
		height: 10vw;
		padding-top: 2.5vw;
		padding-bottom: 2.5vw;
	}
	.showcase:hover .showcase_heading{
		padding-bottom: 0;
	}

	.showcase_desc{
		font-size: 4vw;
		margin: 0;
		padding: 10px;
	}

	.img_container{
		flex-shrink: 0;
		height: 45vw;
	}

	.box_content{
		margin: 0;
		text-align: left;
		opacity: 1;
	}

	.box_outer{
		padding-top: 0;
		padding-bottom: 0;
		background-image: none;
		background-color: rgb(16,91,97);
	}

	.description_text{
		padding: 5vw;
		margin: 0;
	}

	h1{
		font-size: 15vw;
	}
	h2{
		font-size: 5vw;
		margin: 0;
	}

	.links{
		font-size: 4vw;
		font-weight: 400;
	}
	.section_header{
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		background-image: linear-gradient(to bottom, rgb(16,91,97),rgba(16,91,97,.75), rgba(16,91,97,0));
		z-index: 3;
		height: 10vw;
		display: flex;
		align-items:center;
    	justify-content: space-around;
		padding: 5vw;
		font-size: 10vw;
	}

	.section_textlabel{
		width: 100%;
		text-align: center;
	}

	.section_header_spacer{
		width: 100%;
		display: block;
	}

	.section_showmore{
		text-align: right;
		position: absolute;
		font-size: 5vw;
		width: 100%;
	}

	#nav_outer{
		position: fixed;
		display: flex;
		flex-direction: column;
		z-index: 50;
		justify-content: flex-start;
		background-image: none;
		background-color: rgb(16,91,97);
		top: 0;
		left: -500px;
		transition: left .2s ease;
		padding-top: 20vw;
		width: 50vw;
		word-wrap: break-word;
		box-shadow: 0 0 10px 0 $secondary-dark
	}
	#nav_outer.open{
		left: 0;
	}
	.nav_button{
		font-size: 10vw;
		min-width: 0;
		height: 10vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav_button:hover{
	}
	#nav_open{
		position: fixed;
		display: block;
		pointer-events: all;
		z-index: 51;
		top: 5vw;
		height: 10vw;
		width: 10vw;
		z-index: 51;
		transition: .2s ease;
		left: -6vw;
	}
	#nav_open.pinned{
		left: 5vw;
	}
	#nav_open.open{
		left: 5vw;
	}
	#nav_open.open span::after{
		transform: rotate(-45deg);
		top: 0;
		opacity: 1  !important;
	}
	#nav_open.open span{
		background: none;
		top: 4vw;
	}
	#nav_open.open span::before{
		transform: rotate(45deg);
		top: 0;
		opacity: 1 !important;
	}
	#nav_open span::before{
		position: absolute;
		display: block;
		background: black;
		border-radius: 9px;
		width: 100%;
		height: 2vw;
		content: "";
		top: 4vw;
		transition: .2s ease;
	}
	#nav_open span{
		position: absolute;
		display: block;
		background: black;
		border-radius: 9px;
		width: 100%;
		height: 2vw;
		content: "";
		top: 0;
		transition: .2s ease;
	}
	#nav_open span::after{
		position: absolute;
		display: block;
		background: black;
		border-radius: 9px;
		width: 100%;
		height: 2vw;
		content: "";
		top: 8vw;
		transition: .2s ease;
	}
	.footer_content{
		display: flex;
	}
	.footer_column{
		min-width: 0;
	}
	.footer_column p{
		margin: 10px;
		font-size: 5vw;
	}
}
