<div id = "footer" class = "box_outer" >

	<div class = "box_content">
		<div class = "footer_content">

			<div class  = "footer_socials">
				<a rel="me" href = "https://mas.to/@julianh" ><img src = "{{ site.baseurl }}images/social_icons/Mastodon.svg" alt = "Mastodon"></a>
				<a href = "https://www.linkedin.com/in/julian-heuser"><img src = "{{ site.baseurl }}images/social_icons/Linkedin.png" alt = "Linkedin"></a>
				<a href = "https://github.com/JulianHeuser"><img src = "{{ site.baseurl }}images/social_icons/github.svg" alt = "GitHub"></a>
				<a href = "https://gitlab.com/Sockman"><img src = "{{ site.baseurl }}images/social_icons/gitlab.svg" alt = "GitLab"></a>
				<a href = "https://www.youtube.com/c/Sockman1"><img src = "{{ site.baseurl }}images/social_icons/youtube.png" alt = "YouTube"></a>
				<a href = "https://sockman.itch.io"><img src = "{{ site.baseurl }}images/social_icons/itch.svg" alt = "itch.io"></a>
				
				<a href="#" class="cryptedmail"
				data-name="julianheuser"
				data-tld="com"
				data-domain="outlook"
				onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
				<img src = "{{ site.baseurl }}images/social_icons/email.svg" alt = "Email">
				</a>
			</div>

			<div class = "footer_column" style = "display: none;">
				<p><a href = "https://www.moddb.com/members/sockman1">ModDB</a></p>
				<p><a href = "https://github.com/JulianHeuser/JulianHeuser.github.io/tree/master/code">Code Samples</a></p>
			</div>
		</div>
	</div>
</div>