	<!-- Footer -->
	<div id = "footer" class = "box_outer" >

		<div class = "box_content">
			<h2 class = "section_header">Links</h2>
			<div class = "footer_content">
				<div class  = "footer_column">
					<p>
						<a href="#" class="cryptedmail"
						data-name="julianheuser"
						data-tld="com"
						data-domain="outlook"
						onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
						Email
						</a>
					</p>
					<p><a href = "https://www.linkedin.com/in/julian-heuser/">LinkedIn</a></p>
					<p><a href = "https://github.com/JulianHeuser">GitHub</a></p>
					<p><a href = "https://gitlab.com/Sockman">GitLab</a></p>
				</div>
				<div class = "footer_column">
					<p><a href = "https://twitter.com/SockmanJH">Twitter</a></p>
					<p><a href = "https://www.youtube.com/c/Sockman1/videos">YouTube</a></p>
					<p><a href = "https://sockman.itch.io/">Itch.io</a></p>
					<p><a href = "https://www.moddb.com/members/sockman1">ModDB</a></p>
				</div>
				<div class = "footer_column">
					<p><a href = "https://github.com/JulianHeuser/JulianHeuser.github.io/tree/master/code">Code Samples</a></p>
				</div>
			</div>
		</div>
	</div>