<div id = "nav_open" onclick = "openSideBar();">
    <span>
        <p></p>
    </span>
</div>

<!-- Nav bar -->
<nav id = "nav_outer">
    <div id = "nav_inner">
    <a class = "nav_button" href = "{{site.url}}/">Home</a>
    <a class = "nav_button" href = "{{site.url}}/About">About</a>
    <a class = "nav_button" href = "{{site.url}}/Games">Games</a>
    <a class = "nav_button" href = "{{site.url}}/Mods">Mods</a>
    <a class = "nav_button" href = "{{site.url}}/Music">Music</a>
    <a class = "nav_button" href = "{{site.url}}/Other">Other</a>
    </div>
</nav>

<script type = "text/javascript" src = "/scripts/menuDropshadow.js"></script>
<script type = "text/javascript" src = "/scripts/mobile.js"></script>