
<div id = "{{name}}" class = "box_outer">
    <div class = "box_content">
        <h2 class = "section_header">
            <div class = "section_header_spacer"></div>
            <span class = "section_textlabel">{{name}}</span>
            <a class = "section_showmore">Show all</a>
        </h2>
        <div class = "showcase_row">
            {% assign name = "Games" %}
            {% include showcase.html %}
        </div>
    </div>
</div>


<script type = "text/javascript" src = "/scripts/menuDropshadow.js"></script>