
<div id = "{{name}}" class = "box_outer">
    <div class = "box_content">
        <h2 class = "section_header">
            <div class = "section_header_spacer"></div>
            <span class = "section_textlabel">{{name}}</span>

            {% if page.is_custom == false%}
            <a class = "section_showmore">Show all</a>
            {% endif %}

        </h2>
        <div class = "showcase_row">

            {% if page.is_custom == true %}
            
                {{content}}

            {% else %}

                {% assign section_category = (site.data.showcases | where: "category", name | first)  %}

                
                {% for showcase in section_category.showcases %}
                    {% assign title = showcase.title %}
                    {% assign desc = showcase.desc %}
                    {% assign img = showcase.img %}
                    {% assign link = showcase.link %}
                    {% include showcase.html %}
                {% endfor %}

            {% endif %}
        </div>
    </div>
</div>


<script type = "text/javascript" src = "/scripts/menuDropshadow.js"></script>