$primary: #1C9DA9;
$secondary: #0D454A;
//#0A393D
$shadow: #0a393d;

@mixin box-shadow($value){
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

body{
	background-color: $primary;
	color: white;
	font-family: "Segoe UI", sans-serif;
	margin: 0;
	background-image: linear-gradient(to right, $secondary, $primary, $primary, $secondary);
    
}

// h1 - used for page title
h1{
	font-weight: 300;
	font-size: 75px;
	margin: 5px;
}
// h2 - used for section headers
// h3 - used for showcase
h3{
	font-weight: normal;
}

.links{
	font-size: 20px;
	font-weight: 400;
}
.links a{
	color: white;
}

/*Mobile support*/
@media only screen and (orientation: portrait) {
	h1{
		font-size: 15vw;
	}
	h2{
		font-size: 5vw;
		margin: 0;
	}

	body{
        background-image: none;
	}
}