@import "base";

#outer {
	margin: 0;
	text-align: center;
}

#wrapper {
	margin: 0;
}

/*Header text at top of page*/
#header{
	margin: 5px;
	margin-bottom: 10px;
}


/* Boxes */
.box_outer{
    background-color: $secondary;
    padding-top: 10px;
	padding-bottom: 10px;
	@include box-shadow(0 0 10px 0 $shadow);
	position: relative;
	z-index: 5;
}

.box_content{
	margin-left: $side-margins;
	margin-right: $side-margins;
	margin-bottom: 20.75px;
	text-align: left;
	opacity: 1;

    a:link, a:visited, a:hover, a:active{
        color: white;
    }
}

.box_empty{
	height: 100px;
	position: relative;
	z-index: 4;
}


/* Nav */
#nav_outer{
    background-color: $secondary;
	display: block;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	bottom: 0;
	z-index: 50;
	@include box-shadow(0 -5px 10px -5px $shadow);
	transition: box-shadow .1s ease;

    &.pinned{
        @include box-shadow(0 0 10px 0 $shadow);
    }
}

#nav_inner{
	display: flex;
	justify-content: space-evenly;
    max-width: 100vw;
    margin-left: $side-margins;
    margin-right: $side-margins;
}

.nav_button{
	padding: 10px;
	transition: background-color .2s ease;
	//min-width: 128px;
    width: 100%;
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 25px;
	font-weight: normal;

    &:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }
}

#nav_open{
	display: none;
	pointer-events: none;
}


/* Footer */
.footer_content{
	display: flex;
}

.footer_column{
	min-width: 150px;

    p{
        margin: 10px;
        font-size: 20px;
    }
}

/* Sections */
.section_header{
	font-size: 55px;
	font-weight: 400;
	margin: 0;
	display: flex;
	vertical-align: bottom;
	justify-content: space-between;
}

.section_header_spacer{
	display: none;
}

.section_showmore{
	font-size: 30px;
	font-weight: 400;
	float: right;
	cursor: pointer;
	align-self: flex-end;
}

/* Showcases */
.showcase{
	position: relative;
	margin: 1vw;
	background-color: rgba(0,0,0,.5);
	width: 24vw;
	height: 12vw;

    .shadow {
        position: absolute;
        left: 0px;
        right: 0px;
        @include box-shadow(0 0 10px 1px $shadow);
        z-index: 2;
        transition: .2s ease;
        pointer-events: none;
        height: 100%;
        bottom: 0;
    }

    img{
        position: absolute;
        width: 100%;
        height: auto;
        transition: .5s ease;
    }

    &:hover{
        .shadow{
            @include box-shadow(0 0 20px 5px $shadow);
        }

        img{
            width: 110%;
            height: auto;
        }

        .showcase_text{
            background-color: rgba(0,0,0,.75);
            opacity: 1;
        }

        .showcase_heading{
            min-height: 0vw;
            max-height: 0vw;
            padding-top: 0vw;
        }

        .showcase_desc{
            opacity: 1;
        }
    }
}

.showcase_text{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2.5vw;
	transition: .2s ease;
	z-index: 10;
	background-color: inherit;
}

.showcase_heading{
	text-align: center;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.75);
	overflow: hidden;
	transition: .2s ease;
	min-height: 2.5vw;
	max-height: 5vw;
	font-size: 1.5vw;
	margin: 0;
	padding-top: 0.5vw;
}

.showcase_desc{
	font-size: 1vw;
	padding: 10px;
	opacity: 0;
}

.showcase_row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.img_container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: .2s ease;
}

/*IE11 support*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.showcase img{
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

/*Mobile support*/
@media only screen and (orientation: portrait) {
    .showcase{
        display: table;
        max-width: 100vw;
        width: 100%;
        margin: 0;
        text-align: center;
        box-shadow: none;

        .shadow {
            @include box-shadow(0 0 0 0);
        }

        &:hover
        {
            .shadow{
                @include box-shadow(0 0 0 0);
            }
            .showcase_heading{
                padding-bottom: 0;
            }
        }
    }
    

    .showcase_row{
        display: block;
        width: 100%;
    }
    .showcase_text{
        z-index: 2;
    }

    .showcase_heading{
        font-size: 5vw;
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        max-height: 20vw;
    }

    .showcase_desc{
        font-size: 4vw;
        margin: 0;
        padding: 10px;
    }

    .img_container{
        flex-shrink: 0;
        height: 45vw;
    }

    .box_content{
        margin: 0;
        text-align: left;
        opacity: 1;
    }

    .box_outer{
        padding-top: 0;
        padding-bottom: 0;
        background-image: none;
        background-color: $secondary;
    }

    .description_text{
        padding: 5vw;
        margin: 0;
    }


    .links{
        font-size: 4vw;
        font-weight: 400;
    }
    .section_header{
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 3;
        height: 10vw;
        display: flex;
        align-items:center;
        justify-content: space-around;
        padding: 5vw;
        font-size: 10vw;
        background-color: $secondary;
    }

    .section_textlabel{
        width: 100%;
        text-align: center;
    }

    .section_header_spacer{
        width: 100%;
        display: block;
    }

    .section_showmore{
        display: none;
        /*text-align: right;
            position: absolute;
            font-size: 5vw;
            width: 100%;
        */
    }

    #nav_outer{
        position: sticky;
        display: block;
        overflow: visible;
        height: 0;
        &.open{

            #nav_inner{
                max-height: 100vh;
            }
        }
    }

    #nav_inner{
        position: absolute;
        display: block;
        z-index: 50;
        background-color: $secondary;
        top: 20vw;
        max-height: 0;
        height: auto;
        overflow: hidden;
        transition: .2s ease;
    }

    .nav_button{
        top: 20vw;
        font-size: 10vw;
        min-width: 0;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav_open{
        position: sticky;
        display: block;
        pointer-events: all;
        z-index: 51;
        top: 0;
        width: 10vw;
        z-index: 51;
        transition: .2s ease;
        left: -6vw;

        span{
            position: absolute;
            display: block;
            background: black;
            border-radius: 9px;
            width: 100%;
            height: 2vw;
            top: 5vw;
            content: "";
            transition: .2s ease;

            &::before{
                position: absolute;
                display: block;
                background: black;
                border-radius: 9px;
                width: 100%;
                height: 2vw;
                content: "";
                top: 4vw;
                transition: .2s ease;
            }
            &::after{
                position: absolute;
                display: block;
                background: black;
                border-radius: 9px;
                width: 100%;
                height: 2vw;
                content: "";
                top: 8vw;
                transition: .2s ease;
            }
        }
        
        &.open{
            span{
                background: none;
                &::before{
                    transform: rotate(45deg);
                    top: 4vw;
                    opacity: 1 !important;
                }
                &::after{
                    transform: rotate(-45deg);
                    top: 4vw;
                    opacity: 1  !important;
                }
            }
        }
    }
    .footer_content{
        display: flex;
    }
    .footer_column{
        min-width: 0;
        p{
            margin: 10px;
            font-size: 5vw;
        }
    }
}