@import "base";

#outer {
	margin: 0;
	text-align: center;
}

#wrapper {
	margin: 0;
}

/*Header text at top of page*/
#header{
	margin: 5px;
	margin-bottom: 10px;
}


/* Boxes */
.box_outer{
    background-color: $secondary;
    padding-top: 10px;
	padding-bottom: 10px;
	@include box-shadow(0 0 10px 0 $shadow);
	position: relative;
	z-index: 5;
}

.box_content{
	margin-left: $side-margins;
	margin-right: $side-margins;
	margin-bottom: 20.75px;
	text-align: left;
	opacity: 1;

    a:link, a:visited, a:hover, a:active{
        color: white;
    }
}

.box_empty{
	height: 100px;
	position: relative;
	z-index: 4;
}


/* Nav */
#nav_outer{
    background-color: $secondary;
	display: block;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	bottom: 0;
	z-index: 50;
	@include box-shadow(0 -5px 10px -5px $shadow);
	transition: box-shadow .2s ease;

    &.pinned{
        @include box-shadow(0 0 10px 0 $shadow);
    }
}

#nav_inner{
	display: flex;
	justify-content: space-evenly;
    max-width: 100vw;
    margin-left: $side-margins;
    margin-right: $side-margins;
}

.nav_button{
	padding: 10px;
    transition: background-color .2s ease;
	//min-width: 128px;
    width: 100%;
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 25px;
	font-weight: normal;

    &:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }
}

#nav_open{
	display: none;
	pointer-events: none;
}


/* Footer */
.footer_content{
	display: flex;
}

.footer_column{
	min-width: 150px;

    p{
        margin: 10px;
        font-size: 20px;
    }
}

/* Sections */
.section_header{
	font-size: 55px;
	font-weight: 400;
	margin: 0;
	display: flex;
	vertical-align: bottom;
	justify-content: space-between;
}

.section_header_spacer{
	display: none;
}

.section_showmore{
	font-size: 30px;
	font-weight: 400;
	float: right;
	cursor: pointer;
	align-self: flex-end;
}

/* Showcases */
.showcase{
	position: relative;
	margin: 1vw;
	width: 24vw;
	height: 12vw;
    overflow: hidden;
    @include box-shadow(0 0 10px 1px $shadow);
    transition: box-shadow .2s ease, background-size .5s ease;

    background-size: 100%;
    background-position: center;
    &:hover{

        @include box-shadow(0 0 20px 5px $shadow);
        
        background-size: 110%;

        .showcase_text{
            background-color: rgba(0,0,0,.75);
            opacity: 1;
        }

        .showcase_heading{
            translate: 0 -100%;
            //transform: scaleY(0);
        }

        .showcase_desc{
            opacity: 1;
            translate: 0 0;
        }
    }
}

.showcase_text{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2.5vw;
    transition: background-color .2s ease;
	z-index: 10;
	background-color: inherit;
}

.showcase_heading{
	text-align: center;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.75);
	overflow: hidden;
	min-height: 2.5vw;
	max-height: 5vw;
	font-size: 1.5vw;
	margin: 0;
	padding-top: 0.5vw;
    transition: translate .2s ease;
    transform-origin: top;
}

.showcase_desc{
    position: absolute;
	font-size: 1vw;
	left: 10px;
    right: 10px;
	opacity: 0;
    top: 0;
    transition: translate .2s ease, opacity .2s ease;
    translate: 0 3vw;
}

.showcase_row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*IE11 support*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.showcase img{
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

/*Mobile support*/
@media only screen and (orientation: portrait) {
    $title-height: 10vh;


    .showcase{
        display: table;
        max-width: 100vw;
        width: 100%;
        margin: 0;
        text-align: center;
        box-shadow: none;
        height: 45vw;
        @include box-shadow(0 0 0 0);

        &:hover
        {
            @include box-shadow(0 0 0 0);
            .showcase_heading{
                padding-bottom: 0;
            }
        }
    }
    

    .showcase_row{
        display: block;
        width: 100%;
    }
    .showcase_text{
        z-index: 2;
        overflow: hidden;
    }

    .showcase_heading{
        font-size: 5vw;
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        max-height: 20vw;
    }

    .showcase_desc{
        font-size: 4vw;
        margin: 0;
        padding: 10px;
    }


    .box_content{
        margin: 0;
        text-align: left;
        opacity: 1;
    }

    .box_outer{
        padding-top: 0;
        padding-bottom: 0;
        background-image: none;
        background-color: $secondary;
    }

    .description_text{
        padding: 5vw;
        margin: 0;
    }


    .links{
        font-size: 4vw;
        font-weight: 400;
    }
    .section_header{
        $padding: 5vh;

        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 3;
        display: flex;
        align-items:center;
        justify-content: space-around;
        padding: $padding;
        height: $title-height - (2 * $padding);
        font-size: 10vw;
        background-color: $secondary;
    }

    .section_textlabel{
        width: 100%;
        text-align: center;
    }

    .section_header_spacer{
        width: 100%;
        display: block;
    }

    .section_showmore{
        display: none;
    }

    #nav_outer{
        position: sticky;
        display: block;
        overflow: visible;
        height: 0;
        &.open{

            #nav_inner{
                translate: 0 0;
            }
        }
    }

    #nav_inner{

        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 50;
        background-color: $secondary;
        width: 40vw;
        height: 100vh;
        overflow: hidden;
        //margin: $title-height 0;
        margin: 0 0;
        translate: -100% 0;
        transition: translate .2s ease;

        &::before{
            content: "";
            display:block;
            width: 40vw;
            height: $title-height;
            background-color: $secondary;
            z-index: 1;
        }
    }

    .nav_button{
        font-size: 10vw;
        display: flex;
        align-items: center;
        width: auto;
        flex-grow: 5;
        text-align: center;
        justify-content: center;
    }

    #nav_open{
        $height: $title-height/3;
        $segment-height: .5vh;
        $border-radius: 9px;

        position: sticky;
        display: block;
        pointer-events: all;
        z-index: 51;
        top: 0;
        left: 5px;
        width: 10vw;

        span{

            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: $height;
            top: ($title-height - $height) / 2;
            transition: transform .2s ease;
            user-select: none;

            &::before{
                position: absolute;
                display: block;
                background: black;
                border-radius: $border-radius;
                width: inherit;
                height: $segment-height;
                content: "";
                top: -($segment-height/2);
                transition: inherit;

            }
            p{
                margin: 0;
                position: absolute;
                display: block;
                background: black;
                border-radius: $border-radius;
                width: inherit;
                height: $segment-height;
                content: "";
                top: $height/2 - ($segment-height/2);
                transition: opacity .2s ease;
            }
            &::after{
                position: absolute;
                display: block;
                background: black;
                border-radius: $border-radius;
                width: inherit;
                height: $segment-height;
                content: "";
                top: $height - ($segment-height/2);
                transition: inherit;
            }
        }
        
        &.open{
            span{
                &::before{
                    transform: translate(0, ($height/2)) rotate(45deg);
                    opacity: 1;
                }
                p{
                    opacity: 0;
                }
                &::after{
                    transform: translate(0, -($height/2)) rotate(-45deg);
                    opacity: 1;
                }
            }
        }
    }
    .footer_content{
        display: flex;
    }
    .footer_column{
        min-width: 0;
        p{
            margin: 10px;
            font-size: 5vw;
        }
    }
}