<html>
  {% include header.html %}

  <link rel="stylesheet" type="text/css" href="mainStyle.css">


  <body>
    <div id = "outer">
        <div id = "wrapper">
        {% include info_top.html %}
        {% include nav_bar.html %}
            <main>
              <span id = "content">
              {% assign name = "Games" %}
              {% include section.html %}
              <div class="box_empty"></div>

              {% assign name = "Mods" %}
              {% include section.html %}
              <div class="box_empty"></div>

              {% assign name = "Music" %}
              {% include section.html %}
              <div class="box_empty"></div>

              {% assign name = "Other" %}
              {% include section.html %}
              <div class="box_empty"></div>
              </span>
            </main>
        </div>
    </div>
    {% include footer.html %}
  </body>
  
</html>