<html>
  {% include header.html %}

  <link rel="stylesheet" type="text/css" href="mainStyle.css">


  <body>
    <div id = "outer">
        <div id = "wrapper">
        {% include info_top.html %}
        {% include nav_bar.html %}
            <main>
                {% for category in site.data.showcases %}
                  <span id = "content">
                  {% assign name = {{category.title}} %}
                  {% include section.html %}
                  <div class="box_empty"></div>
                {% endfor %}
              </span>
            </main>
        </div>
    </div>
    {% include footer.html %}
  </body>
  
</html>