<html>

  {% include header.html %}

  <link rel="stylesheet" type="text/css" href="mainStyle.css">

  <body>
    <div id = "outer">
        <div id = "wrapper">
        {% include info_top.html %}
        {% include nav_bar.html %}
            <main>
              <span id = "content">
                {% if page.categories == "all" %}
                  
                  {% for category in site.data.showcases %}

                    {% assign name = category.category %}
                    {% include section.html %}
                    <div class="box_empty"></div>
                  {% endfor %}

                {% else %}
                 
                  {% assign name = page.categories %}
                  {% include section.html %}
                  <div class="box_empty"></div> 

                {% endif %}

              </span>
            </main>
        </div>
    </div>

    {% include footer.html %}

  </body>
  
</html>